*{
    margin: 0;
    padding: 0;
    font-family: 'DM Sans',sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #0d0b1a;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    flex: 1;
}
.home-page main{
     background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.8)) ,url(images/pro-mechanic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
.about-me{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    padding:40px;
    background-color: #1c1c1e;
    border: 2px  solid #8f0886;
    border-radius: 16px;
    margin: 40px auto;
    max-width: 700px;
}
.me-img{
    width: 280px;
    height: 220px;
    object-fit: cover;
    border-radius: 12px;
    border: 3px solid #e07b39;
    overflow: hidden;
}
.me-text h1{
    font-size: 28px;
    color: #e07b39;
}
.me-text p{
    color: silver;
}
.login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 400px;
}
.Signup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 500px;
}
form{
    width: 100%;
    height: 100%;
    background-color: #1e1e1e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color:;
    box-shadow: 0 2px 2px #635d5d;
    filter: blur(-20px);
    color: #ffffff;
    corner-shape:squircle;
}
h1{
    font-size: 30px;
    font-weight: 900;
    color:#ffffff;
}
h3{
    color: #ffffff;
    font-size: 15px;
}
h2{
    color: #ffffff;
}
.welcome{
    color: #ffffff;
}
.inputBox{
    width: 280px;
    padding: 8px 20px;
    text-align: center;
    font-size: 20px;
}
.inputBox input{
    height: 32px;
    width: 202px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    padding-left: 20px;
    font-size: 20px;
    color: #ffffff;
    background-color: transparent;
    corner-shape:squircle;
}
input::placeholder{
    color: #f3d6d6ff;
    font-weight: 700;
}
.signup-btn{
    width: 230px;
    padding: 10px 20px;
    border-radius: 10px;
    margin-left: 20px;
    background-color:#5806fc;
    border: none ;
    font-size: 18px;
    color: #ffffff;
    font-weight: 700;
    transition: 3s;
    cursor: pointer;
    corner-shape:squircle;
}
.signup-btn:hover{
    background:linear-gradient(45deg,#3d04ad,#5806fc);
}
.login-btn{
    width: 230px;
    padding: 10px 20px;
    border-radius: 10px;
    margin-left: 20px;
    background-color:#460eb5;
    border: none ;
    font-size: 18px;
    color: #f0f0f4;
    font-weight: 700;
    transition: 3s;
    cursor: pointer;
    corner-shape:squircle;
}
.login-btn:hover{
    background:linear-gradient(45deg,#3d04ad,#5806fc);
    color: #fffff0;
}
a{
    text-decoration: none;
    color: #444444;
    font-size: 18px;
    font-weight: 700;
    transition: 3s ;
}
a:hover{
    color: #ffffff;
}
p{
    display: flex;
    font-size: 18px;
}
.logIcon{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.fa-google{
    color: #ea4335;
    font-size: 30px;
}
.fa-github{
    color: #6e40c9;
    font-size: 30px;
}
/*header.php*/
header{
    width: 100%;
    height: 100px;
    background: #0c0b0b;
    border-bottom: 2px solid #8f0886;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px 15px 40px;
}
.logo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 5px 5px #000000;
    border: 2px solid #8f0886;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    gap: 20px;
    text-transform: uppercase;
    list-style: none;
}
nav ul li a{
    color: #ffffff;
    transition: 2s ease-in-out;
    margin-left: 5px;
    corner-shape:squircle;
}
nav ul li a:hover{
    color: #5806fc;
    border-bottom: 3px solid #5806fc;
}
.action-btn{
    all: unset;
    width: 80px;
    height: 30px;
    background-color: #5806fc;
    border: 2px solid #8b59f0;
    border-radius: 10px;
    conrer-shape:squircle;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 10px;
    margin-left: 5px;
    transition: 3s ease-in-out;
}
.action-btn a{
    color: #ffffff;
}
.action-btn:hover{
    background-color: #3d04ad;
}
.menu{
    display: none;
    position: absolute;
    right: 10px;
    background-color:#c208b6;
    z-index: 1;
    font-size: 25px;
    color: #ffffff;
    border-radius: 10px;
    corner-shape:squircle;
    padding: 10px;
    cursor: pointer;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    padding: 20px;
    height: 100vh;
}
/*footer.php*/
footer{
    background-color: #000000;
    border-top: 2px solid #8f0886;
    
    grid-template-rows: 1fr 0.2fr;
    justify-content: center;
    color: #fff;
    gap: 20px;
}
.container{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    padding: 10px 10px 0px 10px;

}
.brand-name{
    color: #fff;
}
.brand-name span{
    color: #c208b6;
}
footer .footer-col{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer .footer-brand{
    display: flex;
    flex-direction: column;
    align-items:center ;
}
h4{
    color: #ce03c0;
    font-size: 20px;
}
footer ul{
    list-style: none;
}
footer ul li a{
    color: #ffffff;
}
footer ul li a:hover{
    color: #ce03c0;
}
footer .follow{
    border-top: 2px solid #800677;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.follow a{
    font-size: 30px;
    color: #ffffff;
}
.follow a:hover{
    color: #5806fc;
}
.copyright{
    border-top: 2px solid #8f0886;
    background-color: #302b2b;
    width: 100%;
    padding: 10px;
    text-align: center;
    width: 100%;
}
.copyright h4{
    font-size: 18px;
    color: #ffffff;
}
/*Bookings page*/
.page-hero{
    text-align: center;
}
.page-hero p{
    color: #ce03c0;
}
.section-tag{
    color: #ce03c0;
}
.contact-container{
    width: 80%;
    color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr;   
}
.contact-container1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-container1 .contact-detail{
    background-color: #1a1730;
    margin-top: 10px;
    border: 1px solid #c208b6;
    padding: 10px 50px;
    width: 100%;
    border-radius: 10px;
    corner-shape:squircle;
}
.contact-detail-title{
    font-size: 20px;
    color: #c208b6;
}
.hours-table{
    margin-top: 10px;
    border: 1px solid #c208b6;
    text-align: center;
    border-radius: 10px;
    corner-shape:squircle;
    background-color: #1a1730;
}
.hours-row{
    margin-top: 10px;
    padding: 10px;
}
.hours-time{
    color: #5806fc;
}
.contact-container2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-container2 form{
    border: 1px solid #c208b6;
    border-radius: 10px;
    corner-shapae:squircle;
    background-color: #1a1730;
    padding: 20px;
}
.contact-container2 form .form-group{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 10px;
}
.form-group label{
    font-size: 20px;
    color: #ec09dd;
}
.form-group input{
    padding: 10px;
    color: white;
    background: transparent;
    border: 1px solid #ec09dd;
    border-radius: 10px;
    corner-shape: squircle;
}
.form-group input::placeholder{
    color: #777777;
}
.contact-container2 form select{
    padding: 10px;
    background:transparent;
    border: 1px solid #ce03c0;
    color: #ffffff;
}
.contact-container2 form  option{
    background-color: #0c0b0b;
    color: #9932cc;
}
.contact-container2 textarea{
    background: transparent;
    color: #ffffff;
    border: 1px solid #ce03c0;
    border-radius: 10px;
    corner-shape:squircle;
    padding: 5px;
}
.contact-container2 textarea::placeholder{
    color: #888888;
}
.btn-purple{
    background-color: #fe28f0;
    padding: 5px;
    font-size: 18px;
    color: #ffffff;
    border-radius: 10px;
    corner-shape:squircle;
    border: 1px solid #ffffff;
    cursor: pointer;
    transition: 3s ease-in-out;
}
.btn-purple:hover{
    background-color: #680a62;
}
@media (max-width:768px) {
    nav {
        position: absolute;
        top: 0px;
        right:-300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 300px;
        height: 100%;
        background-color:rgba(28,28,30,0.75);
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
        transition: 0.5s;
        box-shadow: 0 2px 2px #680a62;
    }
    nav ul{
        padding-top: 80px;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: space-between;
        align-items: center;
        height
    }
    nav ul li{
        padding: 10px 20px;
    }
    nav ul li a{
        display: block;
    }
    nav.active{
        right: 0;
    }
    .menu{
        display: flex;
    }
    .menu.active{
        position: absolute;
        right: 10px;
    }
    footer .container{
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
    }
}

